@import '../../../common/style'; 

$side: 300px;

.item-element {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: $side;
    height: $side;
    box-shadow: $shadow;
    margin: 20px 20px 20px 20px;
}

.item-element:hover {
    @include hoverEffect();
    transform: scale(1.1, 1.1);
}

.item-name {
    font-size: 24px;
    margin-bottom: 40px;
}

.item-price {
    font-size: 32px;
    margin-bottom: 40px;
}

.item-description {
    text-align: center;
}
